.navbar-default {
    border-radius: 0;
}

body {
    background-image: url('background.jpg');
}

.todo-table tr {
    height: 52px;
}

.todo-table td {
    vertical-align: middle !important;
}

.todo-table .editable {
    cursor: pointer;
    padding-right: 5em;
}

.todo-table .action-cell {
    width: 2em;
}

.todo-table .hover-action {
    visibility: hidden;
    cursor: pointer;
}

.todo-table tr:hover .hover-action {
    visibility: visible;
}
