<div class="row">
    <div class="col-md-6 col-md-offset-3">

        <div class="panel panel-default">
            <div class="panel-heading">Todo List</div>
            <table class="table todo-table">
                <tr>
                    <td></td>
                    <td>
                        <div class="form-inline add-form">
                            <input ng-model="newItem" ng-keypress="addKeypress($event)" class="form-control"/>
                            <button ng-click="add()" type="button" class="btn btn-primary">Add</button>
                        </div>
                    </td>
                </tr>
                <tr ng-repeat="todo in todos | orderBy:'id':true">
                    <td class="action-cell">
                        <input type="checkbox"
                               ng-model="todo.completed"
                               id="todo-{{$index}}"/>
                    </td>
                    <td cell-edit cell-edit-value="todo.item"></td>
                    <td class="action-cell">
                        <span class="glyphicon glyphicon-trash hover-action" ng-click="del(todo.id)">&nbsp;</span>
                    </td>
                </tr>
            </table>
        </div>

    </div>
</div>
