<div class="row">
    <div class="col-md-6 col-md-offset-3">

        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">Todo List</div>

            <!-- Table -->
            <table class="table todo-table">
                <tr ng-repeat="todo in todos">
                    <td class="action-cell">
                        <!--<span class="glyphicon glyphicon-ok"></span>-->
                        <input type="checkbox"
                               ng-model="todo.completed"
                               ng-change="save(todo.id, todo)"
                               id="todo-{{$index}}"/>
                    </td>
                    <td>
                        <label for="todo-{{$index}}" ng-bind="todo.item"></label>
                    </td>
                    <td class="action-cell">
                        <i class="glyphicon glyphicon-pencil hover-action"></i>
                    </td>
                    <td class="action-cell">
                        <span class="glyphicon glyphicon-trash hover-action" ng-click="del(todo.id)">&nbsp;</span>
                    </td>
                </tr>
            </table>
        </div>

    </div>
</div>
